.agregarBajaBien2Container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #e5e5e5;
    font-family: 'Times New Roman';
    width: 100vw;
    box-sizing: border-box;
  }
  
  .agregarBajaBien2Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #a12d2f;
    padding: 10px 20px;
  }
  
  .agregarBajaBien2Logo {
    height: 80px;
    width: 400px;
    border-radius: 5px;
  }
  
  .agregarBajaBien2UserIcon img {
    height: 70px;
    border-radius: 50%;
  }
  
  .agregarBajaBien2MenuLateral {
    display: flex;
    flex-direction: column;
    background-color: #a12d2f;
    padding: 10px;
    width: 200px;
  }
  
  .agregarBajaBien2BackButton {
    background-color: #a12d2f;
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
    text-align: left;
    margin-bottom: 0px;
  }
  
  .agregarBajaBien2MenuList {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .agregarBajaBien2MenuList li {
    font-size: 18px;
    color: #ffffff;
    padding: 8px;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.3s ease, color 0.3s ease;
    background-color: #a12d2f;
    border: 1px solid #000000;
    border-radius: 2px;
    text-align: center;
  }
  
  .agregarBajaBien2MenuList li:hover {
    transform: scale(1.05);
    background-color: #e5e5e5;
    color: #4a4a4a;
    border-color: #4a4a4a;
  }
  
  .agregarBajaBien2Active {
    background-color: #ffffff;
    color: #644141;
    font-weight: bold;
  }
  
  .agregarBajaBien2MenuTitle {
    text-align: center;
    margin: 0;
    padding: 7px 50px;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
  }
  
  .agregarBajaBien2MainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0px;
    position: absolute;
    top: 15%;
    width: 80%;
    text-align: center;
    margin-left: 250px;
    font-family: 'Times New Roman';
  }
  
  .agregarBajaBien2Title {
    font-size: 30px;
    font-weight: bold;
    margin-top: 25px;
  }
  
  .agregarBajaBien2SearchContainer {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .agregarBajaBien2SearchInput {
    padding: 10px;
    border: 1px solid #a12d2f;
    border-radius: 5px;
    margin-right: 10px;
    width: 300px;
  }
  
  .agregarBajaBien2SearchButton {
    padding: 10px;
    background-color: #a12d2f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .agregarBajaBien2SearchButton:hover {
    background-color: #4a4a4a;
  }
  
  .agregarBajaBien2TableContainer {
    width: 90%;
    margin-top: 40px;
  }
  
  .agregarBajaBien2Table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
  }
  
  .agregarBajaBien2Table th,
  .agregarBajaBien2Table td {
    border: 1px solid #a12d2f;
    padding: 10px;
  }
  
  .agregarBajaBien2EditButton {
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
  }
  
  .agregarBajaBien2DeleteButton {
    background-color: #d61a1d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
  }
  
  .agregarBajaBien2EditButton:hover,
  .agregarBajaBien2DeleteButton:hover {
    opacity: 0.8;
  }
  
  .agregarBajaBien2FormActions {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
  }
  
  .agregarBajaBien2BackButtonAction {
    padding: 10px 20px;
    background-color: gray;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .agregarBajaBien2NextButton {
    padding: 10px 20px;
    background-color: gray;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .agregarBajaBien2HomeButton {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: white;
    font-size: 24px;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
  
  .agregarBajaBien2HomeButton:hover {
    background-color: #555;
  }
  