.agregarTipoPosesionContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #e5e5e5;
  font-family: 'Times New Roman';
  width: 0vw;
  box-sizing: border-box;
}

.agregarTipoPosesionMainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0px;
  position: absolute;
  top: 15%;
  width: 80%;
  text-align: center;
  margin-left: 0px;
  font-family: 'Times New Roman';
}

.agregarTipoPosesionTitle {
  font-size: 30px;
  font-weight: bold;
  margin-top: 25px;
}

.agregarTipoPosesionFormContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  gap: 20px;
}

.agregarTipoPosesionFormRow {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.agregarTipoPosesionInput {
  padding: 10px;
  border: 1px solid #a12d2f;
  border-radius: 5px;
  width: 100%;
  margin-right: 20px;
}

.agregarTipoPosesionInput2 {
  width: 250px;
  padding: 10px;
  border: 1px solid #a12d2f;
  border-radius: 5px;
  margin-right: 20px;
}

.agregarTipoPosesionSelect {
  padding: 10px;
  border: 1px solid #a12d2f;
  border-radius: 5px;
  width: 100%;
  margin-right: 20px;
}

.agregarTipoPosesionFormActions {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.agregarTipoPosesionBackButtonAction,
.agregarTipoPosesionAddButton {
  padding: 10px 20px;
  background-color: gray;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
}

.agregarTipoPosesionHomeButton {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #333;
  color: white;
  font-size: 24px;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.agregarTipoPosesionHomeButton:hover {
  background-color: #555;
}
