.agregarEmpleadoContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #e5e5e5;
  font-family: 'Times New Roman';
  width: 0vw;
  box-sizing: border-box;
}

.agregarEmpleadoMainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0px;
  position: absolute;
  top: 15%;
  width: 80%;
  text-align: center;
  margin-left: 0px;
  font-family: 'Times New Roman';
}

.agregarEmpleadoTitle {
  font-size: 30px;
  font-weight: bold;
  margin-top: 25px;
}

.agregarEmpleadoFormContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  gap: 20px;
}

.agregarEmpleadoFormRow {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.agregarEmpleadoFormActions {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.agregarEmpleadoInput {
  padding: 10px;
  border: 1px solid #a12d2f;
  border-radius: 5px;
  width: 100%;
  margin-right: 20px;
}

.agregarEmpleadoInput2 {
  width: 250px;
  padding: 10px;
  border: 1px solid #a12d2f;
  border-radius: 5px;
}

.agregarEmpleadoSelect {
  padding: 10px;
  border: 1px solid #a12d2f;
  border-radius: 5px;
  width: 100%;
}

.agregarEmpleadoBackButtonAction,
.agregarEmpleadoAddButton {
  padding: 10px 20px;
  background-color: gray;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
}

.agregarEmpleadoHomeButton {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #333;
  color: white;
  font-size: 24px;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.agregarEmpleadoHomeButton:hover {
  background-color: #555;
}
